
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
@media (max-width: 768px) {
  .layout {
    
    margin-top:70px
  }
}